@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.navbar {
    border-bottom: solid 0.3px;
    border-color: #80808085;
}

.row {
    flex-wrap: nowrap;
}

.py-md-3.pl-md-5 {
    padding: 0 !important;
}

section.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.cobroMinimo1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

section.movements {
    margin-top: 25px;
    margin-bottom: 25px;
}

.rowSaldo {
    height: 100px;
    max-height: 100px;
}

.saldoSection {
    margin-top: 50px;
    margin-bottom: 25px;
}

.saldo {
    max-height: 80%;
    display: flex;
    justify-content: center;
}

.card-body.buttons {
    padding: 2rem;
}

.buttonsOPtions {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    border: none;
}

.card.countMoney {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    border: none;
}

.cobroMinimo {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.14);
    line-height: 80%;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 2px 0px rgba(232, 232, 232, 0.25);
    border: none;
}

.tableOption {
    margin: 1.6%;
    background-color: rgba(255, 255, 255, 0.3);
}

.tableOptionTabs {
    padding: 0;
}

li.pagina {
    background-color: transparent;
}


/*Button 1*/

.btnn {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    max-width: 65%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btnn:hover {
    text-decoration: none;
}


/*BTN NUMBER 4 */

.btn-4 {
    overflow: hidden;
    position: relative;
    background-color: #FF5A5F;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn-4:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn-4 span {
    z-index: 20;
}


/**/

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #28a745;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: #28a745;
    background-color: #68c47c40;
}

.btn-5:hover {
    border: 1px solid;
    border-color: rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #28a745;
    color: #2c823fb5;
}

.btn-6 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #FF5A5F;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: /*#dc3545*/
    #FF5A5F;
    background-color: #ea707c29;
}

.btn-6:hover {
    border: 1px solid;
    border-color: rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #FF5A5F;
    color: #FF5A5F;
}
